@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eeeeee;
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header-img {
    height: 50px;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    display: block;
}

input[type="email"] {
    width: 100%;
}