@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --primary-color: #dddddd;
  --secondary-color: #333333;
  --code-background: #eeeeee;
}
html {
  font-size: 16px;
  font-family: Lato, sans-serif;
  font-weight: 300;
}

body {
  background-color: var(--primary-color);
}
#main-doc{
  position: relative;
}

#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  width: 20vw;
  border-right: 2px solid var(--secondary-color);
  height: 100vh;
}

#navbar header h1{
  font-size: 2rem;
  overflow: hidden;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 1rem 1rem;
}

#navbar ul {

  display: flex;
  flex-direction: column;
}

#navbar ul li {
  list-style-type: none;
}

#navbar ul li a {
  color: var(--secondary-color);
  width: 100%;
  text-decoration: none;
  padding: 1rem;
  display: inline-block;
  border-top: 1px solid var(--secondary-color);
}

#navbar ul li a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
aside {
  margin-left: 20vw;
  margin-top: 20px;
  padding: 20px;
  position: relative;
}

section header {
  font-size: 2.5rem;
  font-weight: 600;
}

section p {
  font-size: 1rem;
  padding: 1rem;
}
section ul {
  margin-bottom: 1rem;
}
section ul li {
  margin-left: 3rem;
}

code {
  display: block;
  background: var(--code-background);
  border-radius: 5px;
  padding: 1rem;
  margin: 2rem ;
}

footer {
  position: absolute;
  bottom: 0px;
  left:0px; 
  width: 100%;
}

footer p {
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  border-top:1px solid var(--secondary-color);
  width: 100%;
  font-style: italic;
}
section{
  margin-bottom: 3rem;
}

@media (max-width: 700px) {
  #navbar {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: auto;
  }
  aside {
    margin: 5px;
  }
  footer {
    position: absolute;
    bottom: 0;
    left:0;
    margin: 0;
    padding: 0;
  }
}