@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Lato, sans-serif;
  font-weight: 300;
}

body {
  background-color: #eeeeee;
}

#main-doc {
  display: flex;
  flex-direction: row;
}

nav {
  /* display: flex;
  flex-direction: column; */
  /* position: absolute; */
  
}
nav header {
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 1px solid black;
  padding: 15px;
  
}

nav ul {
  display: flex;
  flex-direction: column;
}

nav ul li {
  list-style-type: none;
  padding: 20px;
  border-bottom: 1px solid black;

}

nav ul li a {
  text-decoration: none;
}

section {
  margin: 20px;
}

section header {
  font-size: 2rem;
}

@media(max-width: 600px) {
  section header {
    font-size: 1.5rem;
  }
}

section code, p {
  margin-left: 50px;
}

.code {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: #dddddd;
}

aside {
  border-left: 2px solid darkgray;
}

p {
  padding: 10px;
  margin: 0 10px 10px 10px;
}

section ul {
  margin-left : 100px;
}

